

.heart i {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    right: 10px;
    margin-top: -16px;
}

.my-heart-full {
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
    color: transparent; /* Rendre le texte transparent */
    background-image: linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background-clip: text; /* Dégradé par défaut */

    &:hover {
        opacity: 1;
        color: transparent; /* Toujours transparent */
        background-image: linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
    }
}
